# split features from labels

In [10]:
import numpy as np
import pandas as pd
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline
full_data = pd.read_csv("data.txt")
full_data.head()

        x1        x2  y
0  0.78051 -0.063669  0
1  0.28774  0.291390  0
2  0.40714  0.178780  0
3  0.29230  0.421700  0
4  0.50922  0.352560  0

In [11]:
y = full_data['y']
X = full_data.drop('y', axis = 1)

In [12]:
print("features : \n")
display(X.head())
print()
print()
print("labels : \n")
display(y.head())

features :

        x1        x2
0  0.78051 -0.063669
1  0.28774  0.291390
2  0.40714  0.178780
3  0.29230  0.421700
4  0.50922  0.352560

labels :

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64

In [13]:
X=full_data[['x1','x2']]
y=full_data['y']

In [14]:
print("features : \n")
display(X.head())
print()
print()
print("labels : \n")
display(y.head())

features :

        x1        x2
0  0.78051 -0.063669
1  0.28774  0.291390
2  0.40714  0.178780
3  0.29230  0.421700
4  0.50922  0.352560

labels :

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64

In [15]:
X=full_data.iloc[:,0:2]
y=full_data.iloc[-1]

In [16]:
print("features : \n")
display(X.head())
print()
print()
print("labels : \n")
display(y.head())

features :

        x1        x2
0  0.78051 -0.063669
1  0.28774  0.291390
2  0.40714  0.178780
3  0.29230  0.421700
4  0.50922  0.352560

labels :

x1    0.51912
x2    0.62359
y     1.00000
Name: 99, dtype: float64

In [17]:

X=full_data.loc[:,'x1':'x2']
y=full_data.loc[:,'y']

In [18]:
print("features : \n")
display(X.head())
print()
print()
print("labels : \n")
display(y.head())

features :

        x1        x2
0  0.78051 -0.063669
1  0.28774  0.291390
2  0.40714  0.178780
3  0.29230  0.421700
4  0.50922  0.352560

labels :

0    0
1    0
2    0
3    0
4    0
Name: y, dtype: int64