# Accessing Elements in Pandas DataFrames

In [36]:
import pandas as pd
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame  and provide the row index
store_items = pd.DataFrame(items2, index = ['store 1', 'store 2'])

# We display the DataFrame
store_items

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

## Access elements in Pandas DataFrames in many different ways

In [37]:
# important : dataframe[column][row]
# We print the store_items DataFrame
print(store_items)

# We access rows, columns and elements using labels
print()
print('How many bikes are in each store:\n', store_items[['bikes']])#DF
print()
print('How many bikes are in each store:\n', store_items['bikes'])#DS
print()
print('How many bikes and pants are in each store:\n', store_items[['bikes', 'pants']])
print()
print('What items are in Store 1:\n', store_items.loc['store 1'])#row ds
print()
print('What items are in Store 1:\n', store_items.loc[['store 1']])#row df
print()
print('How many bikes are in Store 2:', store_items['bikes']['store 2'])
print()
print('How many bikes are in Store 2:', store_items.loc['store 2','bikes'])
print()
print('How many bikes and glasses are in store 1 and Store 2:\n',store_items.loc[: ,'bikes':'glasses'])
print()
print('bikes to waches for store1 and store2:\n',store_items.loc['store 1':'store 2','bikes':'watches'])

         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

How many bikes are in each store:
          bikes
store 1     20
store 2     15

How many bikes are in each store:
 store 1    20
store 2    15
Name: bikes, dtype: int64

How many bikes and pants are in each store:
          bikes  pants
store 1     20     30
store 2     15      5

What items are in Store 1:
 bikes      20.0
pants      30.0
watches    35.0
glasses     NaN
Name: store 1, dtype: float64

What items are in Store 1:
          bikes  pants  watches  glasses
store 1     20     30       35      NaN

How many bikes are in Store 2: 15

How many bikes are in Store 2: 15

How many bikes and glasses are in store 1 and Store 2:
          bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

bikes to waches for store1 and store2:
          bikes  pants  watches
store 1     20     30       35
store 2     15      5       10

## Modify our DataFrames by adding rows or columns

In [38]:
# We add a new column named shirts to our store_items DataFrame indicating the number of
# shirts in stock at each store. We will put 15 shirts in store 1 and 2 shirts in store 2
store_items['shirts'] = [15,2]

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts
store 1     20     30       35      NaN      15
store 2     15      5       10     50.0       2

## Add new columns by using arithmetic operations between other columns in our DataFrame

In [39]:
# We make a new column called suits by adding the number of shirts and pants
store_items['suits'] = store_items['pants'] + store_items['shirts']

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN      15     45
store 2     15      5       10     50.0       2      7

## How to add new rows to our DataFrame ?


### First : create new DatatFrame for this row

In [40]:
# We create a dictionary from a list of Python dictionaries that will number of items at the new store
new_items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4}]

# We create new DataFrame with the new_items and provide and index labeled store 3
new_store = pd.DataFrame(new_items, index = ['store 3'])

# We display the items at the new store
new_store

         bikes  pants  watches  glasses
store 3     20     30       35        4

### Second: add this row to our store_items DataFrame by using the .append() method

In [41]:
# We append store 3 to our store_items DataFrame
store_items = store_items.append(new_store)

# We display the modified DataFrame
store_items

C:\Users\NH\AppData\Local\Temp\ipykernel_3684\2232115517.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  store_items = store_items.append(new_store)

         bikes  pants  watches  glasses  shirts  suits
store 1     20     30       35      NaN    15.0   45.0
store 2     15      5       10     50.0     2.0    7.0
store 3     20     30       35      4.0     NaN    NaN

## Add new columns  by using only data from particular rows

In [42]:
# We add a new column using data from particular rows in the watches column
store_items['new watches'] = store_items['watches']['store 2': ]

# We display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shirts  suits  new watches
store 1     20     30       35      NaN    15.0   45.0          NaN
store 2     15      5       10     50.0     2.0    7.0         10.0
store 3     20     30       35      4.0     NaN    NaN         35.0

## Insert new columns into the DataFrames anywhere we want

In [43]:
# dataframe.insert(loc,label,data)

# We insert a new column with label shoes right before the column with numerical index 4
store_items.insert(4, 'shoes', [8,5,9])

# we display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shoes  shirts  suits  new watches
store 1     20     30       35      NaN      8    15.0   45.0          NaN
store 2     15      5       10     50.0      5     2.0    7.0         10.0
store 3     20     30       35      4.0      9     NaN    NaN         35.0

## Delete columns from our DataFrame using .pop()

In [44]:
# We remove the new watches column
store_items.pop('new watches')

# we display the modified DataFrame
store_items

         bikes  pants  watches  glasses  shoes  shirts  suits
store 1     20     30       35      NaN      8    15.0   45.0
store 2     15      5       10     50.0      5     2.0    7.0
store 3     20     30       35      4.0      9     NaN    NaN

## Delete columns or rows from our DataFrame using .drop()

In [45]:
# We remove the watches and shoes columns
store_items = store_items.drop([ 'watches','shoes'], axis = 1)

# we display the modified DataFrame
store_items

         bikes  pants  glasses  shirts  suits
store 1     20     30      NaN    15.0   45.0
store 2     15      5     50.0     2.0    7.0
store 3     20     30      4.0     NaN    NaN

In [46]:
# We remove the store 2 and store 1 rows
store_items = store_items.drop(['store 2', 'store 1'], axis = 0)

# we display the modified DataFrame
store_items

         bikes  pants  glasses  shirts  suits
store 3     20     30      4.0     NaN    NaN

## Rename row or column labels

In [47]:
# We change the column label bikes to hats
store_items = store_items.rename(columns = {'bikes': 'hats'})

# we display the modified DataFrame
store_items

         hats  pants  glasses  shirts  suits
store 3    20     30      4.0     NaN    NaN

In [48]:
# We change the row label from store 3 to last store
store_items = store_items.rename(index = {'store 3': 'last store'})

# we display the modified DataFrame
store_items

            hats  pants  glasses  shirts  suits
last store    20     30      4.0     NaN    NaN

In [49]:
store_items.shape

(1, 5)

## change the index to be one of the columns in the DataFrame

In [15]:
# We change the row index to be the data in the pants column
store_items = store_items.set_index('pants')

# we display the modified DataFrame
store_items

       hats  glasses  shirts  suits
pants
30       20      4.0     NaN    NaN

In [17]:
store_items.loc[30,"hats"]

20

In [19]:
store_items.iloc[0,0]

20